<footer id="references">
    <div class="container">
      <p>Contact: <a href="harry.field@bristol.ac.uk">harry.field@bristol.ac.uk</a><a href="n.lepora@bristol.ac.uk">n.lepora@bristol.ac.uk</a></p>
      <div class="bibtex">
        <h2>BibTeX Reference (coming soon)</h2>
        <pre>
  @inproceedings{
    field2025texttouch,
    title={Text2Touch: Tactile In-Hand Manipulation with {LLM}-Designed Reward Functions},
    author={Harrison Field and Max Yang and Yijiong Lin and Efi Psomopoulou and David A.W. Barton and Nathan F. Lepora},
    booktitle={9th Annual Conference on Robot Learning},
    year={2025},
    url={https://openreview.net/forum?id=U9zcbQVDGa}
    }
        </pre>
      </div>
      <p>&copy; {{ site.time | date: "%Y" }} Harrison Field. All rights reserved.</p>
    </div>
  </footer>
  